/* Set height of body and the document to 100% to enable "full page tabs" */
html,body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: Arial;
  padding-bottom: 20px;
}

/* Style tab links */
.tablink {
  background-color: rgba(85, 85, 85, 0.7);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
}

th, td {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

th {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.3);
}

.add{
  background-color: rgba(47, 79, 79, 0.9);
  color: white;
  border: 2px solid #e7e7e7;
  display: block;
  margin: auto;
}

.add:hover {background-color: rgba(0, 0, 0, 0.7);}

.lyrics{
  background-color: rgba(47, 79, 79, 0.9);
  color: white;
  border: 2px solid #e7e7e7;
  display: block;
  margin: auto;
}

.lyrics:hover {background-color: rgba(0, 0, 0, 0.7);}

.expandSongs{
  background-color: rgba(47, 79, 79, 0.9);
  color: white;
  border: 2px solid #e7e7e7;
  display: block;
  margin: auto;
}

.expandSongs:hover {background-color: rgba(0, 0, 0, 0.7);}


.display {
  color: black;
  background-color: rgba(255,255,255,0.5);
  font-size: 16;
  padding: 20px;
}

.error {
  color: red;
  font-size: 12;
  font-style: oblique;
  padding-left: 50px;
  padding-bottom: 10px;
  visibility: hidden;
}

.deleteButton {
  background-color: rgba(58, 49, 190, 0.9);
  color: white;
  border: 2px solid #e7e7e7;
  display: block;
  margin: auto;
}

.deleteButton:hover {background-color: rgba(255, 0, 0, 0.7);}

.searchButton {
  background-color: rgba(155, 148, 148, 0.4);
  color: white;
  border: 2px solid #e7e7e7;
  /* display: block; */
  margin: auto;
  height: 40px;
  margin-left: 2px;
}

.searchButton:hover {background-color: rgba(228, 179, 44, 0.7);}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}


#searchResults{
  background-color: rgba(47, 79, 79, 0.7);
  color: white;
  padding: 40px;
  visibility: hidden;
  height: 100%; 
}

#libraryDisplay{
  height: 100%;
  background-color: rgba(23, 11, 94, 0.781);
  color: white;
  padding: 40px;
}

#SearchBox{
    height: 30px;
    width: 300px;
    padding: 5px;
    padding-left: 10px;
}

#exploreDisplay{
  display: flex;
  height: 100%;
  background-color: rgba(32, 143, 216, 0.781);
  color: white;
  padding: 20px;
  padding-top: 40px;
}

#displayLib{
  min-width: 80%;
}

#exploreResults{
  margin: 10px; 
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  /* min-width: 77%;  */
  width: 100%;
  padding: 10px; 
  padding-top: 20px;
  height: 90%; 
}

#exploreRes{
  display: inline-block;
  width: 100%; 
  margin-top: 62px;
  /* max-width: 300px; */
}

#exploreSongs{
  display: inline-block;
  min-height: 90%; 
  vertical-align: top;
  padding: 20px;
  padding-top: 0%;
  max-width: 50%; 
}

#exploreResTitle{
  display: none;
  vertical-align: top;
  visibility: hidden;
  max-width: 50%; 
}

#selector{
  margin: 10px; 
  display: inline-block;
  width: 15%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  max-height: 350px;  
}

#Search {
  background-color: red;
  background-image: url("images/guitar.jpg"); 
  background-size: 100% 100%;
  background-attachment: fixed; 
  min-height: 800px;
}
#Library {
  background-color: green;
  background-image: url("images/piano.jpg");
  background-size: 100% 100%;
  background-attachment: fixed; 
  min-height: 800px;
}
#Explore {
  background-color: orange;
  background-image: url("images/Mic.jpg");
  background-size: 100%;
  background-attachment: fixed; 
  min-height: 800px;
}
